[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Mirantis-scale-team
	owner = group user/listomin
[access "refs/for/refs/*"]
	read = group Mirantis-scale-team
	read = group user/listomin
	push = group Mirantis-scale-team
	push = group user/listomin
	label-Code-Review = -2..+2 group Mirantis-scale-team
	label-Code-Review = -2..+2 group user/listomin
	label-Verified = -1..+1 group Mirantis-scale-team
	label-Verified = -1..+1 group user/listomin
	rebase = group Mirantis-scale-team
	rebase = group user/listomin
	removeReviewer = group user/listomin
	submit = group Mirantis-scale-team
	submit = group user/listomin
[access "refs/heads/*"]
	read = group Mirantis-scale-team
	read = group user/listomin
	create = group Mirantis-scale-team
	create = group user/listomin
	push = group user/listomin
	pushMerge = group user/listomin
[access "refs/tags/*"]
	push = group Mirantis-scale-team
	push = group user/listomin
	createTag = group Mirantis-scale-team
	createSignedTag = group Mirantis-scale-team
[access "refs/publish/*"]
	create = group Mirantis-scale-team
