[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/listomin
[access "refs/for/refs/*"]
	read = group user/listomin
	push = group user/listomin
	label-Code-Review = -2..+2 group user/listomin
	label-Verified = -1..+1 group user/listomin
	rebase = group user/listomin
	removeReviewer = group user/listomin
	submit = group user/listomin
[access "refs/heads/*"]
	read = group user/listomin
	create = group user/listomin
	push = +force group user/listomin
	pushMerge = group user/listomin
[access "refs/tags/*"]
	push = group user/listomin
	push = +force group user/listomin
