---
version: 2
title: Create, read and delete deployment with random name
subtasks:
- title: Run a single workload with create/read/delete deployment
  scenario:
    Kubernetes.create_and_delete_deployment:
      image: kubernetes/pause
      replicas: 3
  runner:
    constant:
      concurrency: {{ concurrency if not super_light else super_light_concurrency }}
      times: {{ compute * 2 if not super_light else super_light_count * 2 }}
  contexts:
    namespaces:
      count: 3
      with_serviceaccount: true
      serviceaccount_delay: 5
    kubernetes.cfg:
      prepoll_delay: 1
      retries_total: {{ compute * 30 if not super_light else super_light_count * 30 }}
      sleep_time: 1
- title: Run create/read/delete deployment with rps runner
  scenario:
    Kubernetes.create_and_delete_deployment:
      image: kubernetes/pause
      replicas: 3
  runner:
    rps:
      rps: {{ concurrency if not super_light else super_light_concurrency }}
      times: {{ compute * 2 if not super_light else super_light_count * 2 }}
  contexts:
    namespaces:
      count: 3
      with_serviceaccount: true
      serviceaccount_delay: 5
    kubernetes.cfg:
      prepoll_delay: 1
      retries_total: {{ compute * 30 if not super_light else super_light_count * 30 }}
      sleep_time: 1
